# Local files
htop
neofetch
raycast
github-copilot
op
fish/fish_variables
fish/completions
ghc
configstore

# Stardew Valley stores its config and save data in ~/.config lol
StardewValley

# iTerm has a symlink to its config folder in ~/Library/Application Support :shrug:
iterm2/AppSupport

# qBittorrent stores its config in ~/.config
qBittorrent
